$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

body {
    background:#000000;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight:600; 
}

.landing__titles {
  text-transfrom:uppercase;
  color:white;
  display: flex;
  justify-content: start;
  margin-top: -1.25em;
  flex-direction: column;
  grid-row: title-s/title-e;
//   border-style: solid;
  font-size: 70px;
  text-align:center;
    color: #FFFFFF;
    letter-spacing: 0.07em;
    

  
//   animation: neonGlow 30s infinite alternate;
        text-shadow: -0.01rem -0.01rem .25px #FFFFFF,
        0.01rem -0.01rem .25px #FFFFFF,
        -0.01rem 0.01rem .25px #FFFFFF,
        0.01rem 0.01rem .25px #FFFFFF,
        0 0 2.5px 	#FFFFFF,
        0 0 5px #f8f8ff;
    
}

.title {
    // border-style: solid;
    margin: 0.1em;
    padding:0.1em;
    // background-color: #ffffff;
    // color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.landing__titles {

    display: flex;
    flex-direction: row;
    justify-content: center;
  }

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(66,220,219,.8),
                 0 0 60px  rgba(66,220,219,.8),
                 0 0 80px  rgba(66,220,219,.5),
                 0 0 100px rgba(66,220,219,.5),
                 0 0 140px rgba(66,220,219,.5),
                 0 0 200px rgba(66,220,219,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(66,220,219,.8),
                 0 0 30px rgba(66,220,219,.8),
                 0 0 40px rgba(66,220,219,.8),
                 0 0 50px rgba(66,220,219,.5),
                 0 0 80px rgba(66,220,219,.5);
  }
}
.landing__titles {
    
}
