/* .navbar {
    /* height: 50px; */
    /* background: black;

    margin: 10px 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr [items-s] 1fr [items-e];

    align-items: center;
    padding-left: 14px;
} */ */

/* .navbar__items {
    grid-column: items-s/items-e;
    justify-self: right;
} */

.navbar__items li {
    display: inline-block;
    padding: 0px 14px;
    margin: 10px;
} 

.login-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;
}

.sign-up-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-content: center;
    font-size: 20px;
}

.sign-up-row {
    display: flex;
    flex-direction: row;
    margin-top: 16em;
}

.sign-up-button {
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 70px;

}

.login-button {
    border-style: solid;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* padding: 10px; */
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-right: 10px; */
    

}

.login-info-column {
    display: flex;
    flex-direction: column;
    padding-top: 80px;

}

.login-items {
    display: flex;
    flex-direction: column;

}

.create-account-option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-self: center;
    text-decoration: underline;
  }

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.sign-up-text {
    padding: 10px;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: center;
}